PORT=8000
MONGODB_URI=mongodb+srv://makati:<your password>@cluster0.btbcx1e.mongodb.net
CORS_ORIGIN=*           
ACCESS_TOKEN_SECRET=access token name
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh token name
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=cloud name
CLOUDINARY_API_KEY=api key
CLOUDINARY_API_SECRET=secret key